
.grid-pane {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-insets: 0.5;
}

.grid-pane .grid-cell:nth-child(3n) {
    -fx-border-right-color: black;
    -fx-border-right-width: 2px;
}
.grid-pane .grid-cell:nth-last-child(-n+3) {
-fx-border-bottom-color: black;
-fx-border-bottom-width: 2px;
}

.grid-pane .grid-cell:nth-child(3n+1) {
-fx-border-bottom-color: black;
-fx-border-bottom-width: 2px;
-fx-border-right-color: black;
-fx-border-right-width: 2px;
}



.button {
	 -fx-background-color: #F4C6EE;

}
.button:hover {
	 -fx-background-color: #ebdfdf;
}